
@{
    ViewData["Title"] = "О проекте";
}

<article>
    <h1>Хакатоны, Стажировки, Практикумы - что это вообще и с чем едят?</h1>
    <p>Сейчас для студентов IT и начинающих разработчиков создаются классные мероприятия на реализацию своих возможностей. </p>
    <p>Рассмотрим каждый поподробнее</p>
    <section id="hackaton">
        <h2>Хакатон</h2>
        <div class="gallery">
            <div><img id="curImg" src="~/img/HackatonPage5.jpg" alt="Current image"></div>
            <ul id="thumbs">
                 <li class="thumbnail">
                    <a href="images/HackatonPage5.jpg" title="Image 2"><img src="~/img/HackatonPage5.jpg"></a>
                </li>
                <li class="thumbnail">
                    <a href="images/HackatonPage.jpeg" title="Image 2"><img src="~/img/HackatonPage.jpeg"></a>
                </li>
                <li class="thumbnail">
                    <a href="images/HackatonPage1.jpg" title="Image 3"><img src="~/img/HackatonPage1.jpg"></a>
                </li>
                <li class="thumbnail">
                    <a href="images/HackatonPage2.jpg" title="Image 4"><img src="~/img/HackatonPage2.jpg"></a>
                </li>

            </ul>
        </div>
        <p>
            Хакатон это форум для разработчиков, во время которого специалисты из разных областей разработки программного обеспечения (программисты, дизайнеры, менеджеры) сообща решают какую-либо проблему на время.
            Некоторые хакатоны предназначены для образовательных или социальных целей, но чаще задачей хакатона является создание полноценного программного обеспечения. Каждый хакатон сфокусирован на определённой области, например, языке программирования, операционной системе, приложении, программном интерфейсе (API)
        </p>
    </section>
    <section id="internship">
        <h2>Стажировка </h2>
        <img class="image" src="~/img/Internship.jpeg">
        <p>Стажировка – это «практика» на специально созданных или выделенных работодателем рабочих местах. Основная цель стажировки – формирование и закрепление профессиональных знаний, умений и навыков по полученной квалификации (профессии, специальности). Также стажировка незаменима при изучении передового опыта, приобретении профессиональных и организаторских навыков для специалистов, планирующих занять более высокую должность.</p>
    </section>
    <section id="workshop">
        <h2>Практикум</h2>
        <img class="image" src="~/img/Practice.jpeg">
        <p> Особый вид учебных занятий, имеющих целью практическое усвоение основных положений какого-нибудь предмета, практическое занятие по какому-нибудь учебному курсу.Практикум в IT компаниях специализируется на выполнении практикующимся заданий, выполнение которых проверяется действующим IT-специалистом</p>
    </section>
</article>

<div id="toTop"> ^ Наверх </div>


