
@{
    ViewData["Title"] = "Регистрация";
}
@model UserViewModel


<form class="card col-10" style="border-radius: 10px" asp-controller="Register" asp-action="CreateUser"
      method="post" enctype="multipart/form-data">
    <span class="card-header border-bottom-secondary">
        <h2>Регистрация</h2>
    </span>
    <div class="card-body">
        <div class="form-group">
            <label asp-for="Nickname"></label>
            <input type="text" class="form-control" asp-for="Nickname" />
            <span class="text-danger" asp-validation-for="Nickname"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input type="text" class="form-control " placeholder="example@mail.com" asp-for="Email" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" class="form-control" asp-for="Password" />
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" class="form-control" asp-for="ConfirmPassword" />
        </div>
        <div>
            <p>
                <label>
                    <input type="checkbox" asp-for="LoginAsACompany" />
                    <span>Зарегистрироваться как компания</span>
                </label>
            </p>
        </div>
        <span class="validation" asp-validation-summary="ModelOnly"></span>
        <div сlass="card-footer border-top form-group">
            <label class="btn btn-primary" id="save_button" style="float: right; background-color: #AABACC; text-decoration-color: #EFEFEF; margin:auto ">
                Зарегистрироваться<input type="submit" style="display: none;" id="save_button" name="save_button">
            </label>
        </div>
    </div>
</form>
<div class="header-footer row" style="margin:auto">
    <h4> Уже есть аккаунт? </h4>
    <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Login">Войти</a>
</div>


