
@{
    ViewData["Title"] = "Регистрация";
}
@model UserViewModel


<form style=" border: 1px solid black; background-color:cornsilk;" asp-controller="Register" asp-action="CreateUser"
      method="post" enctype="multipart/form-data">
    <span style=" border: 1px solid black; background-color:grey;">Регистрация нового пользователя</span>
    <div>
        <div>
            <label asp-for="Nickname"></label>
            <input type="text" asp-for="Nickname" />
            <span asp-validation-for="Nickname"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input type="text" placeholder="example@mail.com" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword"></label>
            <input type="password" asp-for="ConfirmPassword" />
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input type="text" asp-for="LastName" />
        </div>
        <div>
            <label asp-for="FirstName"></label>
            <input type="text" asp-for="FirstName" />
        </div>
        <input id="imageDataName" disabled class="form-control col-3" />
        <label class="btn btn-primary">
            Обзор...<input type="file" style="display: none;" id="imageData"
                           accept=".jpg,.jpeg,.png" name="imageData" onchange="onImageUpload()">
        </label>
    </div>
    <div>
        <label asp-for="Contacts"></label>
        <input type="text" asp-for="Contacts" />
    </div>
    <div>
        <label asp-for="AboutMe"></label>
        <input type="text" asp-for="AboutMe" />
    </div>
    <div>
        <label asp-for="Achievements"></label>
        <input type="text" asp-for="Achievements" />
    </div>
    <span class="validation" asp-validation-summary="ModelOnly"></span>
    <div>
        <h6 style="text-decoration-color:grey"> *-поля, обязательные для заполнения </h6>
        <input type="submit" id="save_button" value="Зарегистрироваться" />
    </div>
</form>
<div>
    <h6 style="text-decoration-color:grey"> Уже есть аккаунт? </h6>
    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Войти</a>
</div>

<script type="text/javascript">
    function onImageUpload() {
        if (document.getElementById("postText").value === ""
            && document.getElementById("imageData").value === "") {
            document.getElementById('save_button').disabled = true;
        } else {
            document.getElementById('save_button').disabled = false;
        }

        if (document.getElementById('imageData')
            && document.getElementById('imageData').files
            && document.getElementById('imageData').files[0].name !== "") {
            document.getElementById("imageDataName").value
                = "...\\" + document.getElementById('imageData').files[0].name;
        }
    }
</script>


