
@{
    ViewData["Title"] = "Регистрация";
}
@model UserViewModel


<form class="card" style=" border: 1px solid black;" asp-controller="Register" asp-action="CreateUser"
      method="post" enctype="multipart/form-data">
    <span  class="card-header border-bottom-secondary" style=" border: 1px solid black; background-color: #AABACC; ">Регистрация нового пользователя</span>
    <div class="card-body">
        <div class="form-group">
            <label asp-for="Nickname"></label>
            <input type="text" class="form-control" asp-for="Nickname" />
            <span asp-validation-for="Nickname"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input type="text" class="form-control " placeholder="example@mail.com" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" class="form-control" asp-for="ConfirmPassword" />
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input type="text" class="form-control" asp-for="LastName" />
        </div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input type="text" class="form-control" asp-for="FirstName" />
        </div>
        <div class="row form-group" style="margin-left: inherit">
        <input id="imageDataName" disabled class="form-control col-3" />
        <label class="btn btn-primary" style="background-color: #AABACC; ">
              Прикрепить фото<input type="file" style="display: none;" id="imageData"
                                      accept=".jpg,.jpeg,.png" name="imageData" onchange="onImageUpload()">
        </label>
        </div>
        <div class="form-group">
            <label asp-for="Contacts"></label>
            <input type="text" class="form-control" asp-for="Contacts" />
        </div>
        <div class="form-group">
            <label asp-for="AboutMe"></label>
            <input type="text" class="form-control" asp-for="AboutMe" />
        </div>
        <div class="form-group">
            <label asp-for="Achievements"></label>
            <input type="text" class="form-control" asp-for="Achievements" />
        </div>
    </div>
   
    <span class="validation" asp-validation-summary="ModelOnly"></span>
    <div сlass="card-footer border-top form-group" >
        <div> <h6 style="margin-left: inherit">     *-поля, обязательные для заполнения </h6></div>      
        <label class="btn btn-primary" id="save_button" style="float: right; background-color: #AABACC; text-decoration-color: #EFEFEF; margin:auto ">
            Зарегистрироваться<input type="submit" style="display: none;" id="save_button" name="save_button">
        </label>
    </div>
</form>
<div>
    <h6 style="text-decoration-color:grey"> Уже есть аккаунт? </h6>
    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Войти</a>
</div>

<script type="text/javascript">
    function onImageUpload() {
        if (document.getElementById("postText").value === ""
            && document.getElementById("imageData").value === "") {
            document.getElementById('save_button').disabled = true;
        } else {
            document.getElementById('save_button').disabled = false;
        }

        if (document.getElementById('imageData')
            && document.getElementById('imageData').files
            && document.getElementById('imageData').files[0].name !== "") {
            document.getElementById("imageDataName").value
                = "...\\" + document.getElementById('imageData').files[0].name;
        }
    }
</script>


