
.wrapper{
  list-style-type: none;
  padding:0;
  border: solid 2px #545F66;
  border-radius: 10px;
  padding:20px 35px 35px 20px;
  background-color: white;
  max-width: 500px;
}

.form_group {
  display: flex;
  justify-content: flex-start;
  padding: .5em;
}

.form_group  label{
  padding-top:10px;
  padding-left:5px;
  font-size: 22px;
  flex:1;
}
  
.form_input {
  display:flex;
  flex-direction: column;
  padding: 3px 5px;
  flex:2;
}

.form_input input {
  min-width:200px;
  min-height:30px;
  border: 2px solid black;
  border-radius: 4px;
  padding-left:10px;
}

.form_input span {
  padding-top:5px;
  color: darkred;
  font-size:small;
  min-height:20px;
}

  .form_group  textarea {
    padding: 3px 5px;
    min-width:200px;
    min-height:30px;
    border: 2px solid black;
    border-radius: 4px;
    flex:2;
  }

  .form_group  input:hover,.form_group  textarea:hover {
      background-color: #d2dee2;
  }

.form_button,.post_button {
    margin-top: 5px;
    margin-right:0;
    padding:10px;
    font-size: 18px;
    border: 1px solid black;
    background-color: #d2dee2;
}
  
.form_button:hover,.post_button:hover {
  background: #829399;
}