
@{
    ViewData["Title"] = "Вход в систему";
}
@model LoginViewModel

<form class="card col-10" style="border-radius: 10px" asp-controller="Login" asp-action="Login"
      method="post" enctype="multipart/form-data">
    <span class="card-header border-bottom-secondary" style="width: 100%;">
    <h2>Войдите в систему</h2>
    </span>
    <div class="card-body" style="align-content: center">
        <div class="nicknameField">
            <label asp-for="Nickname"></label>
            <input type="text" class="form-control" asp-for="Nickname" />
            <span class="text-danger" asp-validation-for="Nickname"></span>
        </div>
        <div class="passwordField">
            <label asp-for="Password"></label>
            <input type="password" class="form-control" asp-for="Password" />
            <span  class="text-danger" asp-validation-for="Password"></span>
        </div>
        <div>
            <p>
                <label>
                    <input type="checkbox" asp-for="RememberMe" />
                    <span>Запомнить меня</span>
                </label>
            </p>
        </div>
        <span class="validation" asp-validation-summary="ModelOnly"></span>
        <div сlass="card-footer border-top form-group">
            <label class="btn btn-primary" id="save_button" style="float: right; background-color: #AABACC; text-decoration-color: #EFEFEF; margin:auto ">
                Войти<input type="submit" style="display: none;" id="save_button" name="save_button">
            </label>
        </div>
    </div>
</form> 
    <div class="header-footer row" style="margin:auto">
        <h4>   Нет аккаунта? </h4>
        <a class="nav-link" asp-area="" asp-controller="Register" asp-action="Index">Зарегистрироваться</a>
    </div>

